.carousel {
  width: 180px;

  * {
    min-width: 0;
    min-height: 0;
  }
}

:global(.slick-slide) {
  h5 {
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1.2rem;
    font-weight: normal;
    text-transform: uppercase;
  }
}
