.monthly {
  display: grid;
  grid-template: 220px 1fr 50px / 100%;
}

.header {
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: grid;
  grid-template: 46px 30px 20px 100px 25px / 53px 1fr 53px;

  background: linear-gradient(45deg, #2f80ed, #2d9cdb);
}

.title {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  margin: 0;

  display: flex;
  justify-content: center;

  color: white;
  font-size: 1.5rem;
}

.total {
  grid-row: 4 / 5;
  grid-column: 2 / 3;

  display: flex;
  flex-flow: column nowrap;

  justify-content: center;
  align-items: center;

  border-radius: 1rem;

  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
  background: white;

  .value {
    font-size: 2.2rem;
    font-weight: bold;
    color: #ec5d73;
  }

  .name {
    text-transform: uppercase;
    color: #ec5d73;
    opacity: 0.5;
  }
}

.listing {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  color: #425460;

  &Item {
    display: flex;
    width: 100%;
    padding: 21px 33px 17px;

    justify-content: space-between;
    align-items: flex-end;

    border-bottom: 1px solid #e5e5e5;
    font-size: 1.5rem;
  }
}

.incomeName {
  font-weight: bold;
  text-transform: capitalize;
}

.value {
  font-weight: bold;
}

.name {
  text-transform: capitalize;
  font-size: 1.125rem;
}
